<form method="post" action="/songs">

  <p>song title:<input type="text" name="name" id="Name"></p>

  <% @artists.each do |artist| %>

  <p><input id="Artist Name" type="radio" name="artist_id" value="<%= artist.id %>"><%= artist.name %></p>

  <% end %>

  <p>new artist:<input type="text" name="artist_name" id="Artist Name"></p>

Existing Genre
  <% @genres.each do |genre| %>

  <p><input id="<%= genre.name %>" type="checkbox" name="genre_ids[]" value="<%= genre.id %>"><%= genre.name %><p>

  <% end %>

  <p>new genre:<input type="text" name="genre_name" id="Genre"></p>

  <input type="submit" value="Create">

</form>
